

.cookcook-top{
    height: 210vh;
    background-image: url("../../public/image/bg_pattern_pink.png");
    background-color: #fff3f363;
}


.cookcook-title{
    height: 250px;
    span{
        position: relative;
        top: 65%;
        left: 10%;
        font-size: 4rem;
    }
}