/* 게시판 모듈용 CSS - cookqna.scss  */


.cookqna-top{
    height: 160vh;
    // background-image: url("../../public/image/bg_pattern_pink.png");
    // background-color: #fff3f363;
}

.cookqna-title{
    height: 250px;
    padding-bottom: 5%;
    span{
        position: relative;
        top: 85%;
        left: 10%;
        font-size: 4rem;
    }
}

.cookqna-text {
  position: relative;
  border: solid 1px #e5e5e5;

  border-radius: 3.0625rem; 
}     

.cookqna-text::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
  content: '';
}

.cookqna-text > ul {
  display: flex;
  justify-content: space-evenly;
}
.cookqna-text > ul >li{
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 1rem 0;
  color: #999;
  text-align: center;
}
.cookqna-text > ul >li::before{ 
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 2rem;
  background: url(../../public/image/ic_star_pink.png) no-repeat center / auto 100%;

}
.cookqna-text > ul > li.on {
  background-color: #fff9e2;
}

/* 검색옵션박스 */
.selbx {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 10% 10px 5%;
    box-sizing: border-box;
  }
  .selbx > * {
    margin-right: 15px;
  }
  
  /*테이블 디자인*/
  .dtbl {
    /*테이블전체*/
    text-align: center;
    font-size: 1rem;
    border-collapse: collapse;
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
  }
  
  .dtbl caption,
  .dtblview caption {
    /*테이블 타이틀*/
    font-size: 24px;
    color: #333;
    padding: 10px 0;
  }
  
  .dtbl a {
    text-decoration: none;
    color: #666;
  }
  
  .btngrp td {
    border-bottom: none !important;
    text-align: right;
  }
  
  .dtbl td,
  .dtbl th {
    padding: 13px;
    /*위아래, 양쪽*/
    /*
        padding은 안쪽 공간-> 기존박스가 커짐
        padding: 위 오른 아래 왼;(4개)
        padding: 위 오른왼 아래;(3개)
        padding: 위아래 오른왼;(2개)
        padding: 모든방향;(1개)
     */
  }
  
  /* 보드 메인리스트 a요소 말줄임표시하기 */
  #board tbody td a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 가로크기 지정(최대361px) */
    width: min(361px, 40vw);
  }
  
  /*각 th별 가로크기지정 */
  .dtbl th:nth-child(1) {
    width: 5%;
  }
  .dtbl th:nth-child(2) {
    width: 40%;
  }
  .dtbl th:nth-child(3) {
    width: 30%;
  }
  .dtbl th:nth-child(4) {
    width: 15%;
  }
  .dtbl th:nth-child(5) {
    width: 5%;
  }
  
  .dtbl tbody tr td {
    /*본문 td 밑줄*/
    border-bottom: 1px solid #ccc;
    /*두종색*/
  }
  
  .dtbl thead tr th {
    /*머리줄 th 윗줄*/
    border-top: 2px solid #999;
    /*두종색*/
    border-bottom: 1px solid #999;
  }
  
  .dtbl tbody tr:last-child td {
    /*테이블본문의 마지막 줄 tr 의 td 밑줄변경*/
    border-bottom: 2px solid #999;
  }
  .dtbl tbody tr td:nth-child(2) {
    text-align: left;
  }
  
  /*짝수번째 배경색 넣기*/
  .dtbl tbody tr:nth-child(even) td {
    /*even 짝수, odd 홀수*/
    background-color: #f3f3f3;
  }
  
  /*하단 패딩*/
  /* tfoot의 td에 padding 및 글자중앙 적용하기 */
  .dtbl tfoot td {
    text-align: center;
    /*글자중앙정렬*/
    padding: 20px 0px;
    /*위아래,우좌 padding설정*/
  }
  
  /* 내용보기 */
  .dtblview {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 34px;
    border-collapse: collapse;
    width: 750px;
    margin: 20px auto;
    border-top: 2px solid #999;
    /*두종색*/
    border-bottom: 2px solid #999;
  }
  /*첫째열*/
  .dtblview td:first-child {
    width: 100px;
  }
  /*둘째열*/
  .dtblview td:last-child {
    width: 650px;
  }
  
  .dtblview td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
  }
  
  .dtblview td:first-child {
    width: 200px;
    background-color: #e0e0e0;
    text-align: center;
  }
  
  /* 추가 첨부파일링크 */
  .dtblview td a,
  .dtblview td b {
    font-size: 20px;
    text-decoration: none;
    color: #000;
  }
  .dtblview td a:hover {
    text-decoration: underline;
    color: #f00;
  }
  
  /* 버튼그룹 */
  .btngrp button {
    border-radius: 25px;
    padding: 8px 40px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    transition: 0.3s;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border: 1px solid #000;
    margin: 5px;
  }
  .btngrp button:hover {
    background-color: #0074e8;
  }
  .btngrp button:hover a {
    color: #fff;
  }
  
  @media screen and (max-width: 450px) {
    /* 보기 모드 공통 */
    .cont .dtblview {
      width: 90vw;
    }
    .cont .dtblview td {
      width: auto;
      font-size: 16px;
    }
    .cont .dtblview input,
    .cont .dtblview textarea {
      width: calc(90vw - 64px);
    }
    .dtbl th {
      padding: 5px;
    }
  }
  