.lab-detail {
  height: 500vh;
}

.ldetail-top {
  height: 400px;
  background: url(../../public/image/bg_pattern_green.png);
  background-color: #eff9efca;

  h2 {
    position: relative;
    top: 47%;
    left: 40%;
    width: 4%;
    white-space: nowrap;
    font-size: 1.3rem;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    text-align: center;
    padding: 0.3%;
    background-color: #15a775;
    border-radius: 16px;
  }
  span {
    position: relative;
    top: 50%;
    left: 40%;
    font-size: 3.2rem;
  }
}

.ldetail-tit{
    height: 250px;
    text-align: center;
    padding-top: 3%;
    p{
        line-height: 1.4;
        font-size: 1.2rem;
        
        &:first-child{
            font-size: 2rem;
        }
    }
}


.ldetail-pic{
    max-width: 700px;
    min-height: 600px;
    margin: 0 auto;
    padding-bottom: 5%;
}

.ldetail-txt{
    
    max-width: 700px;
    min-height: 500px;
    border: 1px solid #888787;
    margin: 0 auto;

    .ldetail-txt1{
        height: 120px;
        background-color: #f9f9f9;
        
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 6%;
            font-size: 1.2rem;
        }
    }
    .ldetail-txt2{
        padding-left: 10%;
        height: auto;

        ul{
            line-height: 8;
        }
    }
}


.ldetail-txt1 > ul > li:first-child::before{
    content: "";
    display: inline-block;
    background: url("../../public/image/re_icon1.png") no-repeat;
    position: absolute;
    top: 168.5%;
    left: 32%;
    width: 4%;
    height: 5%;
}
.ldetail-txt1 > ul > li:nth-child(2)::before{
    content: "";
    display: inline-block;
    background: url("../../public/image/re_icon2.png") no-repeat;
    position: absolute;
    top: 168.5%;
    left: 44%;
    width: 4%;
    height: 5.1%;
}
.ldetail-txt1 > ul > li:last-child::before{
    content: "";
    display: inline-block;
    background: url("../../public/image/re_icon3.png") no-repeat;
    position: absolute;
    top: 168.5%;
    left: 56.2%;
    width: 4%;
    height: 5.1%;
}

.ldetail-img{
    padding-top: 10%;
    display: flex;
    max-width: 500px;
    min-height: 500px;
    // margin: 0 auto;
}

.ldetail-img >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ldetail-seq{
    
}


