


.intro-top{
    height: 300vh;
    background: url(../../public/image/introduce.png) no-repeat;
}
.intro-tit{
    position: absolute;
    max-width: 1920px;
    top: 46rem;
    left: 37%;
    font-size: 2.5rem;
}
.intro-header{
    position: relative;
    top: 53rem;    
}
.intro-header::before{
    content: '';
    display: inline-block;
    width: 1000px;
    margin-left: 20%;
    border: 0.8px solid #c4c3c3;


}
.intro-title{
    position: relative;
    width: 100%;
    height: auto;
    // transform: translate(50%, 50%);
    top: 50%;
    left: 13%;
    padding-top: 7%;
    
}
.intro-text1,.intro-text2,.intro-text3{
    float: left;  
    width: 30%;
  span{
    text-align: center;
    font-size: 2rem;
  }
  p{
    font-size: 1.1rem;
  }
}


