.topbox{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9dvh;
    border-bottom: 1px solid #15a775;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: top 0.4s;
    z-index: 1000;
  }
  
  .logo{
    width: 230px;
  }
  
  .logo img{
    width: 50%;
    padding: 4% 58%;
    position: relative;
  }
  
  
  #gnb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9vh;
    margin: 0 auto;
    transition: top 0.4s;
  }
  
  
  .top-gnb{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    width: 50%;

  }
  
  .top-gnb >li{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 20%;
  }
  
  .top-gnb > li > a{
    font-size: 1.2rem;
    width: 100%;
  }
  
  #gnb .top-gnb> li:hover .bt-gnb {
    display: block;
  }
  #gnb .top-gnb> li:hover .bt-gnb>li{
    text-align: center;
  }
  
  .bt-gnb{
    display: none;
    position: absolute;
    border: 1px solid #15a775;
    border-radius: 0 0 8% 8%;
    background-color: #fff;
    top: 99%;
    left: 0%;
    width: 88%;
    height: 100%;
    z-index: 1001;
    line-height: 2.4;
  }
  
  .bt-gnb > li >a:hover{
    color: #15a775;
  }
  
  .bt-gnb > li > a{
    color: rgb(156, 155, 155);
  }
  
  .top-gnb > li:first-child::after{
    content: "";
    display: inline-block;
    background:url(../../public/image/ic_star.png) no-repeat center;
    width: 14%;
    height: 100%;
  }
  
  .top-gnb > li:nth-child(1) ~ li:nth-child(-n+4)::after{
    content: "";
    background:url(../../public/image/ic_star.png) no-repeat center;
    display: inline-block;
    width: 14%;
    height: 100%;
  }
  // 햄버거 버튼
  .ham{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #15a775;
    transform: scaleX(1.5);
    display: none;
    z-index: 1;
  }
  .ham::before {
    content: '≡';
  }
  .ham.on .hbox{
    max-width: 450px;
    height: auto;
    background-color: #fff;

  }
  
  /* 로그인 영역 */
  .log{
    display: flex;
    position: relative;
    width: 22%;
    top: 37%;
    right: 5%;
  }
  .log > ul{
    display: flex;
    width: 35%;
  }

  .log > ul > li:last-child{
    margin-left: auto;
    margin-right: 16px;
  }
  
 /* gnb 검색입력창 박스 */
.searchingGnb{    
  position: absolute;
  left: 50px;
  top: -9px;
  line-height: 41px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  background-color: #efefef;
  color:#15a775;
  box-sizing: border-box;
  padding: 0 5px;
  display: none;
}
.searchingGnb input{
  font-size: 0.9rem;
  width: 73%;
  margin-top: 5px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

input:focus{
  outline: none;
}
.schbtnGnb{
  cursor: pointer;
  margin-top: 9px;
  margin-left: 10px;
}



/* 미디어쿼리 */
@media screen and (max-width: 1470px) {
  .logo{
    width: 14.1%;
  }
  .top-gnb{
    width: 75%;
  }
  .bt-gnb {
    line-height: 2;
  }
  .log {
    width: 31%;
    right: 3%;
  }
  .searchingGnb {
    left: 48px;
  }
}

@media screen and (max-width:767px) {

  .logo {
    width: 67px;
  }
  .logo img {
    width: 122%;
    padding: 14% 8%;
  }
  #gnb {
    width: 70%;
  }
  .top-gnb {
      width: 99%;  
  }
  .top-gnb > li {
    width: 21.3%;
  }
  .top-gnb > li > a {
      font-size: 0.9rem;
      width: 90%;
  }
  
  .bt-gnb > li > a {
    font-size: .9rem;
  }

  .searchingGnb {
    left: -47px;
    top: 21px;
    width: 218px;
    height: 40px;
    padding: 0 0px;

  }
  .searchingGnb input {
    width: 80%;
    margin-left: 5px;
  }
  .log {
    right: 1%;
    display: block; 
    width: 22%;
    top: 12%;
  }
  .log > ul {
    display: block; 
    width: 56%;
  }
  
}
@media screen and  (max-width:450px) {
  .top-gnb{
    display: none;
  }
  .ham {
    display: block;
  }
  .gnb.on .ham::before {
    content: "×";
  }

.logo {	
  position: static;
   }

.logo img{
  padding: 0% 10%; }

#gnb{
  width: 0%;
}
.log {
  top: 26%;
}

.log > ul >li:first-child{
  display: none;
}
.log > ul >li:last-child{
  margin-right: -41px;
}

.searchingGnb {
  left: -169px;
  top: -6px;
}
  
}